<div *ngIf="car">
  <div class="row">
    <div class="col-md-6">
      <h2>{{ car.brand }} {{ car.model }}</h2>
    </div>
    <div class="col-md-6 text-md-right">
      <button type="button"
              class="btn btn-link"
              (click)="onClose()">
        <i class="fa fa-close"></i>
        {{ i18NPrefix + 'close' | translate }}
      </button>
    </div>
  </div>
  <div *ngIf="!editing; else editForm">
    <div>
      <b>{{ i18NPrefix + 'brand' | translate }}:</b>
      {{ car.brand }}
    </div>
    <div>
      <b>{{ i18NPrefix + 'model' | translate }}:</b>
      {{ car.model }}
    </div>
    <div>
      <b>{{ i18NPrefix + 'fuel' | translate }}:</b>
      {{ 'enums.fuel.' + car.fuel | translate }}
    </div>
    <div>
      <b>{{ i18NPrefix + 'power' | translate }}:</b>
      {{ car.power }} {{ i18NPrefix + 'kW' | translate }}
    </div>
    <ng-template [ngIf]="car.description">
      <div>
        <b>{{ i18NPrefix + 'description' | translate }}:</b>
      </div>
      <pre>{{ car.description }}</pre>
    </ng-template>

    <div class="alert alert-danger"
         role="alert"
         [innerHTML]="i18NPrefix + 'deleteError' | translate"
         *ngIf="deleteError">
    </div>

    <div class="mt-3">
      <button type="button"
              class="btn btn-secondary"
              (click)="onEdit()">
        <i class="fa fa-pencil"></i>
        {{ i18NPrefix + 'modify' | translate }}
      </button>
      <button type="button"
              class="btn btn-danger"
              (click)="onDelete()">
        <i class="fa fa-trash"></i>
        {{ i18NPrefix + 'delete' | translate }}
        <i class="fa fa-spinner fa-spin"
           *ngIf="deleting"></i>
      </button>
    </div>
  </div>

  <ng-template #editForm>
    <app-cars-reactive-form [car]="car"
                            (closeForm)="onEditClose()"
                            (carUpdate)="onEditClose()"></app-cars-reactive-form>
  </ng-template>
</div>

<h1 class="mb-4 text-center"
    *ngIf="loading">
  <i class="fa fa-spinner fa-spin"></i>
</h1>

<div class="alert alert-danger"
     role="alert"
     [innerHTML]="i18NPrefix + 'loadingError' | translate"
     *ngIf="loadingError">
</div>
