<form role="form"
      class="mt-3"
      (ngSubmit)="onSubmit(form)"
      #form="ngForm">

  <div class="form-group row">
    <label for="form-brand"
           class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'brand' | translate }}</label>
    <div class="col-sm-8">
      <input type="text"
             class="form-control"
             id="form-brand"
             name="brand"
             [(ngModel)]="model.brand"
             #brandControl="ngModel"
             appNotBlankValidator
             appValidationIsInvalid
             [control]="brandControl"
             [or]="alreadySubmitted">
      <app-validation-errors [control]="brandControl"
                             [or]="alreadySubmitted"></app-validation-errors>
    </div>
  </div>

  <div class="form-group row">
    <label for="form-model"
           class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'model' | translate }}</label>
    <div class="col-sm-8">
      <input type="text"
             class="form-control"
             id="form-model"
             name="model"
             [(ngModel)]="model.model"
             #modelControl="ngModel"
             appNotBlankValidator
             appValidationIsInvalid
             [control]="modelControl"
             [or]="alreadySubmitted">
      <app-validation-errors [control]="modelControl"
                             [or]="alreadySubmitted"></app-validation-errors>
    </div>
  </div>

  <div class="form-group row">
    <label for="form-fuel"
           class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'fuel' | translate }}</label>
    <div class="col-sm-8">
      <select type="text"
              class="form-control"
              id="form-fuel"
              name="fuel"
              [(ngModel)]="model.fuel"
              #fuelControl="ngModel"
              appNotBlankValidator
              appValidationIsInvalid
              [control]="fuelControl"
              [or]="alreadySubmitted">
        <option value="diesel">{{ 'enums.fuel.diesel' | translate }}</option>
        <option value="petrol">{{ 'enums.fuel.petrol' | translate }}</option>
        <option value="hybrid">{{ 'enums.fuel.hybrid' | translate }}</option>
      </select>
      <app-validation-errors [control]="fuelControl"
                             [or]="alreadySubmitted"></app-validation-errors>
    </div>
  </div>

  <div class="form-group row">
    <label for="form-power"
           class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'power' | translate }}</label>
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ detailI18NPrefix + 'kW' | translate }}</span>
        </div>
        <input type="text"
               class="form-control"
               id="form-power"
               name="power"
               [(ngModel)]="model.power"
               #powerControl="ngModel"
               appNotBlankValidator
               isInRange
               [minValue]="1"
               [maxValue]="1000"
               appValidationIsInvalid
               [control]="powerControl"
               [or]="alreadySubmitted">
        <app-validation-errors [control]="powerControl"
                               [or]="alreadySubmitted"></app-validation-errors>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="form-description"
           class="col-sm-4 col-form-label">{{ detailI18NPrefix + 'description' | translate }}</label>
    <div class="col-sm-8">
      <textarea type="text"
                class="form-control"
                id="form-description"
                name="description"
                [(ngModel)]="model.description"></textarea>
    </div>
  </div>

  <div class="alert alert-danger"
       role="alert"
       [innerHTML]="i18NPrefix + 'submitError' | translate"
       *ngIf="submitError">
  </div>

  <button type="submit"
          class="btn btn-primary pointer">
    <span [innerHTML]="i18NPrefix + 'submit' | translate"></span>
    <i class="fa fa-spinner fa-spin"
       *ngIf="submitting"></i>
  </button>
  <button type="button"
          class="btn btn-secondary pointer"
          (click)="onClose()">
    <span [innerHTML]="i18NPrefix + 'cancel' | translate"></span>
  </button>
</form>
